[Unit]
Description=DC-Detector v0.2
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/dc-detector-2
ExecStart=/home/admin/dc-detector-2/venv/bin/python src/launcher.py
Environment=PYTHONPATH=/home/admin/dc-detector-2/src
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
